html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

:root {
  --primary-color: #8f593a;
  --secondary-color: #eea47f;
  --third-color: white;
  --primary-font-size: 1.5rem;
}

button {
  cursor: pointer;
}

button:hover {
  color: var(--primary-color);
  border-bottom: 2px solid var(--secondary-color);
}

body {
  background-image: url(./images/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  z-index: -10;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: var(--primary-color);
  text-align: center;
  width: 100%;
  color: var(--secondary-color);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2rem;
}

.nav-container {
  display: flex;
  gap: 10rem;
  padding-right: 10rem;
}

.tabs {
  border: none;
  background-color: transparent;
  font-size: var(--primary-font-size);
  color: var(--primary-color);
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.title {
  color: var(--secondary-color);
  padding-left: 10rem;
  font-weight: bold;
  font-family: cursive;
  font-style: italic;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
}

.quote-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 25rem;
  margin-top: 7rem;
}

.quote {
  color: var(--primary-color);
  font-size: 6rem;
  width: 40rem;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  font-style: italic;
}

.quote-button {
  color: var(--primary-color);
  border: 2px solid var(--secondary-color);
  background-color: transparent;
  padding: 0.8rem;
  width: 13rem;
  margin-top: 2.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  font-style: italic;
  font-family: cursive;
  position: relative;
  right: 13.5rem;
}

/* ABOUT US TAB CSS --------------------------------------------- */
.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 25rem;
  margin-top: 7rem;
}

.about-title {
  color: var(--primary-color);
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  font-style: italic;
  font-size: 5rem;
  font-family: cursive;
}

.about-description {
  color: var(--primary-color);
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  font-family: cursive;
  border: 2px solid var(--secondary-color);
  font-size: 1.5rem;
  padding: 1rem;
  margin-top: 1.5rem;
  width: 60rem;
  min-height: 10rem;
}

.about-number-one-title {
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  font-style: italic;
  font-size: 3rem;
  font-family: cursive;
  color: var(--primary-color);
  margin-top: 1.5rem;
}

.about-number-one {
  color: var(--primary-color);
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  font-family: cursive;
  border: 2px solid var(--secondary-color);
  font-size: 3rem;
  padding: 1rem;
  margin-top: 1.5rem;
  min-height: 4rem;
}

.about-number-two-title {
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  font-style: italic;
  font-size: 3rem;
  font-family: cursive;
  color: var(--primary-color);
  margin-top: 1.5rem;
}

.about-number-two {
  color: var(--primary-color);
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  font-family: cursive;
  border: 2px solid var(--secondary-color);
  font-size: 3rem;
  padding: 1rem;
  margin-top: 1.5rem;
  min-height: 4rem;
}

.about-number-three-title {
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  font-style: italic;
  font-size: 3rem;
  font-family: cursive;
  color: var(--primary-color);
  margin-top: 1.5rem;
}

.about-number-three {
  color: var(--primary-color);
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  font-family: cursive;
  border: 2px solid var(--secondary-color);
  font-size: 3rem;
  padding: 1rem;
  margin-top: 1.5rem;
  min-height: 4rem;
}

/* START OF MENU TAB */
.menu-container {
  width: 90rem;
  margin: 5rem;
  height: 64rem;
  display: flex;
  justify-content: space-around;
}

.clipped-container-drinks {
  border: 2px solid var(--primary-color);
  width: 20rem;
  height: 60rem;
  margin: 3rem;
  position: absolute;
  top: 14rem;
  border-top: transparent;
  padding: 1rem;
}

.clipped-container-entrees {
  border: 2px solid var(--primary-color);
  margin: 3rem;
  width: 20rem;
  height: 60rem;
  position: absolute;
  top: 14rem;
  left: 7rem;
  border-top: transparent;
  padding: 1rem;
}

.clipped-container-deserts {
  border: 2px solid var(--primary-color);
  width: 20rem;
  height: 60rem;
  margin: 3rem;
  position: absolute;
  top: 14rem;
  right: 67rem;
  padding: 1rem;
}

.clipped-deserts,
.clipped-entree,
.clipped-drinks {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-size: 1.5rem;
  font-style: italic;
  font-family: cursive;
  width: 20rem;
  margin: 3rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: polygon(
    40px 0,
    calc(100% - 40px) 0,
    100% 40px,
    100% 100%,
    calc(100% - 40px) 100%,
    40px 100%,
    0 100%,
    0 40px
  );
}

.clipped-container-entrees > h2 {
  color: var(--secondary-color);
  font-size: 3rem;
  font-weight: bold;
  font-style: italic;
  font-family: cursive;
}

.clipped-container-entrees > p {
  color: var(--primary-color);
  font-family: cursive;
  font-size: 1.2rem;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.clipped-container-drinks > h2 {
  color: var(--secondary-color);
  font-size: 3rem;
  font-weight: bold;
  font-style: italic;
  font-family: cursive;
}

.clipped-container-drinks > p {
  color: var(--primary-color);
  font-family: cursive;
  font-size: 1.2rem;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.clipped-container-deserts > h2 {
  color: var(--secondary-color);
  font-size: 3rem;
  font-weight: bold;
  font-style: italic;
  font-family: cursive;
}

.clipped-container-deserts > p {
  color: var(--primary-color);
  font-family: cursive;
  font-size: 1.2rem;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}
